# test/coverage droppings
cover.out

bin/kbase
bin/kbase.exe

**/.claude/agents/
**/.claude/agents
**/.claude/commands/
**/.claude/commands
.claude/settings.local.json
# agent set working file
.claude/session-state.md
# agent set might create a temp worktree
.claude/worktrees/
